<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>Recipe Book</h1>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="get">
                <button type="submit">Login</button>
            </form>
        {% endif %}
        
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>